/* styles for body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  position: relative;
}
/* general styles */
/* text styles */
.big-text {
  font-weight: 600;
  font-size: 3rem;
  color: #23252e;
  text-transform: uppercase;
}
.medium-text {
  color: #00bcd4;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
}
.small-text {
  color: #23252e;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0;
}
/* links styles */
a,
a:hover {
  text-decoration: none;
}
/*link styles */
.big-link {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.big-link:hover {
  color: #00bcd4;
  transition: 0.5s;
}
/* icons styles */
.big-icon {
  font-size: 2rem;
  color: #00bcd4;
}
/* buttons style */
.big-btn {
  color: #fff;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: 2px solid #00bcd4;
}
.big-btn:hover {
  background: #00bcd4;
  transition: 0.5s all;
  color: #fff;
}
.regular-btn {
  color: #fff;
  background: #00bcd4;
  display: inline-block;
  width: 40%;
  text-align: center;
  padding: 0.3rem 0.6rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}
.regular-btn:hover {
  color: #00bcd4;
  background: #fff;
  transition: 0.5s all ease-in-out;
}
/* home section styles */
header {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
/* nav styles */
.nav {
  padding: 1.3rem 1rem;
  position: fixed;
  z-index: 5;
  width: 100%;
  font-size: 1.8rem;
}
/* styls for scrolled nav */
.nav.scrolled {
  background: rgba(32, 34, 48, 0.9);
  transition: 0.2s all ease-in-out;
  padding: 0.65rem 1rem;
}
.nav.scrolled .logo {
  font-size: 1.5rem;
}
.nav.scrolled .big-icon {
  font-size: 1.5rem;
}
/* Logo styles */
.logo {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.logo:hover {
  color: #fff;
}
/* close open nav styles */
.open-nav i,
.close-nav i {
  color: #fff;
}
.open-nav i:hover,
.close-nav i:hover {
  color: #00bcd4;
  transition: 0.5s all ease;
}
/* nav link list styles */
.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: rgba(32, 34, 48, 0.8);
  pointer-events: none;
  opacity: 0;
}
/* nav list item styles */
.nav-list-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  transform: translateY(-50px);
}
/* style for showing nav-list */
.show-nav-list {
  z-index: 5;
  opacity: 1;
  pointer-events: all;
  transition: 0.2s all ease-in-out;
}
/* class style for transitoning links */
.nav-list-items-origin {
  transform: translateY(0px);
  transition: 0.5s all ease-in-out;
}
/* style for close nav */
.close-nav {
  position: absolute;
  top: 1.1rem;
  right: 1rem;
  pointer-events: all;
  z-index: 5;
}
/* style for active nav link */
.active {
  color: #00bcd4;
}
/* style for slider */
.slider {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}
/* slides styles */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  z-index: 1;
  animation: zoom 20s ease-in-out infinite;
  display: none;
}
.slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 34, 48, 0.6);
  z-index: 2;
}
/* active class for slides */
.slide.active {
  display: flex;
}
/* animation for slides */
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
/* slide 1 text content */
.caption-first-slide {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 20%;
  padding: 1rem;
  z-index: 3;
}
.caption-first-slide h3,
.caption-first-slide h2,
.caption-first-slide p {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  transform-origin: left;
}
.caption-first-slide .top h3 {
  animation: left 2s ease forwards;
}
.caption-first-slide .top h2 {
  animation: right 2s ease forwards;
}
.caption-first-slide .middle h2:first-child {
  animation: left 2s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
}
.caption-first-slide .middle h2:nth-child(2) {
  animation: right 2s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
}
.caption-first-slide .middle h2:nth-child(3) {
  animation: right 2s ease forwards;
  animation-delay: 1.3s;
  opacity: 0;
}
.caption-first-slide .bottom p {
  letter-spacing: 0;
  margin: 0;
  transform: translateY(100px) rotate(90deg);
  opacity: 0;
  animation: rotate 2s ease forwards;
  animation-delay: 1.5s;
}
.caption-first-slide .top h3,
.caption-first-slide .middle h2 {
  color: #00bcd4;
}
.caption-first-slide .bottom {
  margin-bottom: 1rem;
}
.caption-first-slide a {
  display: inline-block;
  transform: translateY(100px) rotate(90deg);
  opacity: 0;
  animation: rotate 2s ease forwards;
  transform-origin: left;
  animation-delay: 1.8s;
}
/* animation for slide 1 text content */
@keyframes rotate {
  0% {
    transform: translateY(50px) rotate(90deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* slide 2 text content */
.caption-second-slide {
  width: 100%;
  position: absolute;
  bottom: 20%;
  right: 0;
  padding: 1rem;
  z-index: 3;
}
.caption-second-slide h3,
.caption-second-slide h2,
.caption-second-slide p {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  transform-origin: left;
}
.caption-second-slide .top h3 {
  color: #00bcd4;
}
.caption-second-slide .middle h2 {
  color: #fff;
}
.caption-second-slide .bottom {
  margin-bottom: 1rem;
}
/* top second text content */
.caption-second-slide .top h3:first-child {
  animation: top 2s ease forwards;
}
.caption-second-slide .top h3:nth-child(2) {
  animation: top 2s ease forwards;
  animation-delay: 0.4s;
  opacity: 0;
}
.caption-second-slide .top h3:nth-child(3) {
  animation: top 2s ease forwards;
  animation-delay: 0.6s;
  opacity: 0;
}
.caption-second-slide .top h3:nth-child(4) {
  animation: top 2s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
}
.caption-second-slide .top h3:nth-child(5) {
  animation: top 2s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}
/* middle second text content */
.caption-second-slide .middle h2:first-child {
  animation: left 2s ease forwards;
  animation-delay: 1.4s;
  opacity: 0;
}
.caption-second-slide .middle h2:nth-child(2) {
  animation: right 2s ease forwards;
  animation-delay: 1.6s;
  opacity: 0;
}
.caption-second-slide .middle h2:nth-child(3) {
  animation: right 2s ease forwards;
  animation-delay: 1.8s;
  opacity: 0;
}
/* bottom second text content */
.caption-second-slide .bottom p {
  letter-spacing: 0;
  margin: 0;
  transform: translateY(100px) rotate(90deg);
  opacity: 0;
  animation: rotate 2s ease forwards;
  animation-delay: 2s;
}
/* style for second a btn */
.caption-second-slide a {
  display: inline-block;
  transform: translateY(100px) rotate(90deg);
  opacity: 0;
  animation: rotate 2s ease forwards;
  transform-origin: left;
  animation-delay: 2.2s;
}
/* animation for slide 2 text content */
@keyframes top {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* controls slider style */
.controls .prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  z-index: 4;
  opacity: 0;
  background-color: rgba(32, 34, 48, 0.6);
}
.controls .next {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  z-index: 4;
  opacity: 0;
  background-color: rgba(32, 34, 48, 0.6);
}
.controls .prev i {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%, -50%);
}
.controls .next i {
  position: absolute;
  top: 50%;
  right: 40%;
  transform: translateY(-50%, -50%);
}
.controls .next:hover,
.controls .prev:hover {
  opacity: 1;
  transition: 0.5s all ease-in-out;
}
/* start section about */
/* about top left */
.about-left {
  position: relative;
  background: url("../img/about/image-1.jpg");
  height: 100%;
}
.about-left:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
}
.about-left-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  padding: 2rem;
  height: 100%;
}
.about-left-content h4 {
  padding: 0.5rem 1rem;
}
.about-left-content p {
  padding: 0 1rem;
  font-size: 0.8rem;
  letter-spacing: 0;
}
/* about top right */
.about-right {
  height: 100%;
}
.about-right img {
  width: 100%;
}
.about-right-content {
  position: relative;
  background: #23252e;
  padding: 1rem 1.5rem;
  width: 100%;
}
.about-right span {
  color: #fff;
}
.about-right h4 {
  color: #00bcd4;
  font-size: 1rem;
  letter-spacing: 0;
}
.about-right p {
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 0;
}
/* about right bottom */
.about-right-bottom {
  position: relative;
  background: url("../img/about/image-4.jpg");
  height: 100%;
}
.about-right-bottom:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
}
.about-icons-content h2 {
  font-weight: 900;
  font-size: 2.5rem;
  color: #00bcd4;
  padding: 1rem 0 0;
}
.about-icons i {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  background: #23252e;
  border-radius: 100%;
  color: #fff;
}
/* medium screen style */
@media (min-width: 768px) {
  .caption-first-slide {
    width: 50%;
    left: 5%;
  }
  .about-right h3 {
    margin-left: -30%;
  }
}
/* large screen style */
@media (min-width: 992px) {
  .controls .prev,
  .controls .next {
    width: 10%;
  }
  .caption-second-slide {
    width: 50%;
    right: 5%;
  }
  .about-right img {
    width: 50%;
  }
  .about-right-content {
    width: 50%;
  }
}
